clienteWSCalcu/src/META-INF/wsdl/localhost_8080/Calcular/Calcular.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Pack1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Pack1/" name="Calcular">
<types>
<xsd:schema>
<xsd:import namespace="http://Pack1/" schemaLocation="http://localhost:8080/Calcular/Calcular?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Sumar">
<part name="parameters" element="tns:Sumar"/>
</message>
<message name="SumarResponse">
<part name="parameters" element="tns:SumarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="división">
<part name="parameters" element="tns:división"/>
</message>
<message name="divisiónResponse">
<part name="parameters" element="tns:divisiónResponse"/>
</message>
<message name="Resta">
<part name="parameters" element="tns:Resta"/>
</message>
<message name="RestaResponse">
<part name="parameters" element="tns:RestaResponse"/>
</message>
<portType name="Calcular">
<operation name="hello">
<input wsam:Action="http://Pack1/Calcular/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Pack1/Calcular/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Sumar">
<input wsam:Action="http://Pack1/Calcular/SumarRequest" message="tns:Sumar"/>
<output wsam:Action="http://Pack1/Calcular/SumarResponse" message="tns:SumarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://Pack1/Calcular/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://Pack1/Calcular/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="división">
<input wsam:Action="http://Pack1/Calcular/divisiónRequest" message="tns:división"/>
<output wsam:Action="http://Pack1/Calcular/divisiónResponse" message="tns:divisiónResponse"/>
</operation>
<operation name="Resta">
<input wsam:Action="http://Pack1/Calcular/RestaRequest" message="tns:Resta"/>
<output wsam:Action="http://Pack1/Calcular/RestaResponse" message="tns:RestaResponse"/>
</operation>
</portType>
<binding name="CalcularPortBinding" type="tns:Calcular">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="división">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calcular">
<port name="CalcularPort" binding="tns:CalcularPortBinding">
<soap:address location="http://localhost:8080/Calcular/Calcular"/>
</port>
</service>
</definitions>